version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.17
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333" # HTTP API
      - "6334:6334" # gRPC
    environment:
      QDRANT__SERVICE__API_KEY: MYSUPERAPIAKY
    volumes:
      - ./qdrant_storage:/qdrant/storage
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 5s
      timeout: 3s
      retries: 20
